@{
    ViewBag.Title = "Learn";
    Layout = "~/Views/Shared/index.cshtml";
}
<link href="~/Content/assets/styles.css" rel="stylesheet" />
<div class="banner-learn d-flex align-items-center justify-content-center img-fluid">
    <div class="banner-content">
        <h1 class="banner-title text-white text-center text-uppercase mb-4">why tree?</h1>
        <h5 class="banner-title text-white text-center text-uppercase mb-4">A NON-PROFIT ORGANIZATION FOCUSED ON GLOBAL REFORESTATION</h5>
        <div class="banner-button text-center ">
            <button class=" btn-info text-uppercase mr-2">Plant Trees</button>
        </div>
    </div>
</div>
<section>
    <div style="padding-top:8.2rem;" class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <p style="text-align:center;font-size:2.5rem;">Tại sao phải trồng cây?</p>
                <p style="font-size:1.2rem;">Trồng cây là một hoạt động không chỉ tạo ra những khu vực xanh mướt mà còn bảo vệ môi trường một cách đáng kể. Cây xanh không chỉ cung cấp không gian sống cho đủ loại động vật và thực vật, mà còn giúp giảm lượng khí CO2 trong không khí, nguyên nhân gây ra biến đổi khí hậu. Cây cỏ còn giúp ngăn chặn quá trình xói mòn đất đai, làm sạch không khí và nước, cũng như giúp giảm nhiệt độ trong các khu vực đô thị.</p>
            </div>
            <div class="col-md-6 m-auto">
                <img src="~/image/whyplant-1.jpg" alt="Circle Image" class="" style="margin-left: 10px; width:100%;">
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/image/whyplant-2.jpg" alt="Square Image" class="img-fluid" style="margin-left:10px; width:100%;">
            </div>
            <div class="col-md-8 m-auto ">
                <p style="font-size:1.2rem;">Ngoài ra, việc trồng cây còn giúp tạo ra những khu vực xanh mướt trong các thành phố, là nơi nghỉ ngơi tuyệt vời cho cư dân địa phương và còn là lưu trữ của nhiều loại động và thực vật quý hiếm. Bằng việc trồng cây, chúng ta không chỉ tạo ra một môi trường sống lành mạnh cho chính mình mà còn góp phần vào việc bảo vệ môi trường toàn cầu. Hãy trồng cây để chúng ta có một hành tinh xanh, sạch và bền vững cho tương lai.</p>

            </div>
        </div>
    </div>

</section>




