
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/index.cshtml";
}

<div class="banner-about d-flex align-items-center justify-content-center img-fluid">
    <div class="banner-content">
        <h1 class="banner-title text-white text-center text-uppercase mb-4">WE ARE GreenRoot</h1>
        <h5 class="banner-title text-white text-center text-uppercase mb-4">A NON-PROFIT ORGANIZATION FOCUSED ON GLOBAL REFORESTATION</h5>
        <div class="banner-button text-center">
            <button class=" btn-danger text-uppercase mr-3">Get In Touch</button>
        </div>
    </div>
</div>
<div style="padding-top:8.2rem;" class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/image/Tree.jpg" alt="Circle Image" width="300" height="300" class="rounded-circle" style="margin-left:10px">
        </div>
        <div class="col-md-6 m-auto">
            <p style="text-align:center;font-size:2.5rem;"><b>1000000+ cây được trồng</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/image/Bando.jpg" width="300" height="300" alt="Square Image" class="img-fluid" style="margin-left:10px">
        </div>
        <div class="col-md-6 m-auto">
            <p style="text-align: center; font-size: 2.5rem"><b>63 tỉnh thành của đất nước Việt Nam</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/image/BatTay.jpg" width="300" height="300" alt="Square Image" class="img-fluid">
        </div>
        <div class="col-md-6 m-auto">
            <p style="text-align: center; font-size: 2.5rem"><b>80,000+ tình nguyện viên</b></p>
        </div>
    </div>
</div>



